.loginContainer {
    background-image: url('/assets/img/msnbg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.facebook {
    margin: 10px;
}

.btn {
    color: white !important;
}
